.article-search-form label {
    /* padding: 0.5rem 0 0.35rem; */
}

.article-search-form input {
    height: 1rem;
    width: calc(100% - 1rem);
    margin-bottom: 1rem;
}

.country-dropdown {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-color: #e0e0e0;
    background: transparent;
}

.article-search-form {
    margin-bottom: 2rem;
}