body {
  font-family: "IBM Plex Sans",sans-serif;
}
h1 {
    color: #24a599;
}
input {
    line-height: 50px;
    height: 30px;
    padding-left: 20px;
    border: 1px solid #e0e0e0;
    outline: none;
    background-color: #fff;
}
.pull-left {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.btn {
    border-radius: 4px;
    border-color: #332211;
    background-color: #ffe4c4;
    text-align: center;
    padding: 0 30px;
    transition: .3s;
    line-height: 35px;
}

.mentor-fxn {
    background-color: #f7961b;
    line-height: 40px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    padding: 0 30px;
    transition: .3s;
    text-align: center;
    color: #fff;
}
button {
    border-radius: 5px;
    /* font-size: 16px; */
    /* font-weight: 700; */
    /* line-height: 40px; */
    padding: 0 30px;
    transition: .3s;
    text-align: center;
    padding: 3px;
}
.btn-link {
    border: none;
    background-color: transparent;
    line-height: 40px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    padding: 0 30px;
    -webkit-transition: .3s;
    transition: .3s;
    text-align: center;
    color: #1592df;
    text-decoration: underline;
    border: none;
}

.App {
  text-align: center;
}


.search-form {
  display: flex;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.header img {
  height: 40px;
  mask: radial-gradient(ellipse farthest-corner at 50% 50%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) );
  margin-right: 1rem;
}

.App-link {
  color: #333;
}

.active {
  font-weight: bold;

}
a {
  color: #107e85;
}


a:link {
  text-decoration: none;
  margin: 5px;
}
a:hover {
  color: #abd373;
}

form label {
  padding: 0.5rem 0;
}

.user-btn {
    border: 1px solid #373737;
    color: #ef7f7f;
    padding: 8px;
    border-radius: 5px;
}