body {
    font-family: "IBM Plex Sans",sans-serif;
    font-weight: 100;
    line-height: 2.1;
}
h1,h2,h3,h4,h5 {
    color: #24a599;
    font-weight: 100;
}
input[type="text"]:disabled,button:disabled {
    background: #bfb7b7;
    cursor: not-allowed;
    color: #d7dfe7;
  }

.pull-left {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.flex-center {
    display: flex;
    justify-content: center;
}
.btn-link {
    border: none;
    background-color: transparent;
    line-height: 40px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    padding: 0 30px;
    -webkit-transition: .3s;
    transition: .3s;
    text-align: center;
    color: #1592df;
    text-decoration: underline;
    border: none;
}

.App {
  text-align: center;
}
.search-form {
  display: flex;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.header img {
  height: 40px;
  mask: radial-gradient(ellipse farthest-corner at 50% 50%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) );
  margin-right: 1rem;
}

.App-link {
  color: #333;
}

.active {
  font-weight: bold;
}

a:link {
  text-decoration: none;
  margin: 5px;
}
a:hover {
  color: #73b418;
  /* font-style: bold ; */
  font-weight: 700;
}

/* Course */
#submit {
    border: none;
    background: transparent;
}
form label {
  padding: 0.5rem 0;
  font-size: 14px;
}
.btn {
    border-radius: 4px;
    text-align: center;
    padding: 7px 14px;
    transition: .3s;
    color: #1dc7d1;
    background: #ccd9e6;
    border: none;
    height: 45px;
    cursor: pointer;
    min-width: 70px;
}
.user-btn {
    color: #e7a1a1;
    border-radius: 5px;
    background-color: #eef9fd;
}
.article-list {
    display: flex;
    flex-direction: column;
}
.bookingOverlayClass {

}
.flex-container {
    display: flex;
    flex-direction: column;
}
.flex-full {
    display: flex;
    width: 100%;
}
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4254667a;
    z-index: 100;
}
.mentor-fxn {
    background-color: #e3f1c1;
    line-height: 40px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    padding: 0 30px;
    transition: .3s;
    text-align: center;
    color: #15301c;
}
.left-side {
    display: flex;
    align-items: flex-end;
}
.half-screen, .flex-half {
    display: flex;
    width: 50%;
}
.flex-right {
    display: flex;
    justify-content: flex-end;
}
.profile-link {
    color: #133023;
    border-bottom: 1px solid #df3e3e;
}
.flex-row-end {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.left-nav-bar a {
    color: #0b4758;
}
.left-nav-bar  a:first-child {
    color: #418ee7;
    font-size: 36px;
    padding: 10px;
}
.introduction {
    background-color: #1b6e87;;
    border-radius: 0 0 53% 47%/0 0 14% 7%;
    font-size: 2rem;
    color: #fff;
    padding: 0px 10px 10px 20px;
}
.highlight-title {
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: center;
    text-align: center;
}
.secondary-highlight {
    border-radius: 10px / 30px;
    background: #2db546;
    color: #fff;
    color: #fff;
    padding-left: 20px;
    font-size: 31px;
    letter-spacing: 1.5px;
    font-weight: 700;
}
.hero {
    color: #e3e167;
    font-size: 2.5rem;
    font-weight: 900;
}
.gallery {
    display: flex;
}
.gallery-work {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    column-gap: 20px;
}
.brand {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
}
/* articles */
.article-list-container {
    display: grid;
    grid-template-columns: 7fr 4fr;
}
.mentor-register {
    background: white;
    margin: 20px 0;
}
.grid-2-even {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.signup-mentor {
    border-radius: 5px;
    height: 50px;
    background: #14b32a;
    color: white;
    text-align: center;
    line-height: 50px;
    z-index: 2;
    width: 150px;
    margin-right: 0px;
}
input,select  {
    border-radius: 4px;
    margin: 10px 5px 10px 0px;
    height: 50px;
    border: 1px solid #e0e0e0;
    padding: 5px;
    padding-block: 0px;
    padding-inline-start: 2px;
}
.country-dropdown {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-color: #e0e0e0;
    background: transparent;
    width: 100%;
}
.form-group {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 10px;
    width: 100%;
}

.mentor-search-form {
    margin-bottom: 2rem;
    display: flex;
}
label > div {
    display: flex;
    column-gap: 8px;
    width: 350px;
}
label > div > input{
    width: 100%;
}
.righ-header-3 {
    display: flex;
    color: #12b2a4;
    margin-right: 20px;
    flex-direction: row-reverse;
    font-weight: 400;
}
.course-section {
    background-color: #7fc3c9;
    margin: 6px;
    padding: 4px;
    border-radius: 5px;
    color: #eef5f1;
    list-style: none;
    cursor: grabbing;
}
.active-section {
    background-color: #e8f4ed;
    color: #1dc7d1;

}
.section-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
}
.section-content {
    margin: 10px
}
.section-nav {
    width: 800px;
    min-width: 300px;
    display: flex;
    justify-content: flex-end;
}
.flex-row {
    display: flex;
}
section img {
    max-width: 100%;
}
/* Mentor */
.mentor-signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;

}
.container-center {
    display: flex;
    justify-content: center;
    max-width: 900px;
    margin: auto;
}
.article-container {
    border: 1px solid #e0e0e0;
    padding: 15px;
    max-width: 1000px;

}
main {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    max-width: 1000px;
    min-width: 900px;
}
.article-list a {
    color: #1e63be;
    border-bottom: #dcedeb 1px solid;
}

.article-list  a:nth-child(odd) {
    background: #f9f9f9;
}
.article-list a:hover {
    color: #113461;
    background-color: #14b32a;
}
/* Design App */
.design-canvas {
    border: 1px solid #e0e0e0;
    min-height: 400px;
}
.search-tool {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: start;
}
.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px;
    color:#15301c;
    /* max-height: 30px; */
    color: #1dc7d1;
    flex-flow: column;
}
.search-btn {
    color: #40be89;
}
/* Quill editor */
.ql-editor {
    min-height: 18em;
}
  