body {
    font-family: "IBM Plex Sans",sans-serif;
    font-weight: 100;
    line-height: 2.1;
}
h1,h2,h3,h4,h5 {
    color: #24a599;
    font-weight: 100;
}
input {
    line-height: 50px;
    height: 30px;
    padding-left: 20px;
    border: 1px solid #e0e0e0;
    outline: none;
    background-color: #fff;
}
.pull-left {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


.btn-link {
    border: none;
    background-color: transparent;
    line-height: 40px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    padding: 0 30px;
    -webkit-transition: .3s;
    transition: .3s;
    text-align: center;
    color: #1592df;
    text-decoration: underline;
    border: none;
}

.App {
  text-align: center;
}

.search-form {
  display: flex;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.header img {
  height: 40px;
  mask: radial-gradient(ellipse farthest-corner at 50% 50%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) );
  margin-right: 1rem;
}

.App-link {
  color: #333;
}

.active {
  font-weight: bold;
}

a:link {
  text-decoration: none;
  margin: 5px;
}
a:hover {
  color: #abd373;
}

form label {
  padding: 0.5rem 0;
  font-size: 14px;
}
.btn {
    border-radius: 4px;
    border-color: #332211;
    text-align: center;
    padding: 0 30px;
    transition: .3s;
    line-height: 35px;
    color: #4b8d91;
    background: #f0f8ff;
}
.user-btn {
    border: 1px solid #373737;
    color: #ef7f7f;
    border-radius: 5px;
}
.article-list {
    display: flex;
    flex-direction: column;
}
.bookingOverlayClass {

}
.flex-container {
    display: flex;
    flex-direction: column;
}
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4254667a;
    z-index: 100;
}
.mentor-fxn {
    background-color: #e3f1c1;
    line-height: 40px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    padding: 0 30px;
    transition: .3s;
    text-align: center;
    color: #15301c;
}
.left-side {
    display: flex;
    align-items: flex-end;
}
.half-screen {
    display: flex;
    width: 50%;
}
.profile-link {
    color: #133023;
    border-bottom: 1px solid #df3e3e;
}
.flex-row-end {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.header {
    background: linear-gradient(94.99deg,rgb(223 249 239 / 80%) 0,rgb(211 201 223 / 80%) 100%);
}
.introduction {
    background-color: #1b6e87;;
    border-radius: 0 0 53% 47%/0 0 14% 7%;
    font-size: 2rem;
    color: #fff;
    padding: 0px 10px 10px 20px;
}
.secondary-highlight {
    border-radius: 10px / 30px;
    background: #2db546;
    color: #fff;
    color: #fff;
    padding-left: 20px;
    font-size: 31px;
    letter-spacing: 1.5px;
    font-weight: 700;
}
.hero {
    color: #e3e167;
    font-size: 2.5rem;
    font-weight: 900;
}
.gallery {
    display: flex;
}
.gallery-work {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    column-gap: 20px;
}