.mentors {
}

.mentors-list {
}

.mentor-profile {
}

.mentors-list a {
    margin: 0.5rem;
    display: inline-block;
}

.mentors-list span {
    display: inline-block;
    margin: 0.5rem;
}

.mentor-profile {
}