/* MentorProfile.css */

.mentor-container {  
  margin: 0 auto;
  padding: 1rem;
}

.mentor-title {
  margin-top: 0;
  color: #333;
}

.mentor-info {
  margin-bottom: 1rem;
}

.mentor-info p {
  margin: 5px 0;
  color: #0a3395;
}
.work-company {
  color: #0a16d1;
  font-weight: 700;
}
.start-date {
  color: #df9d6b;
  font-weight: 400;
}
.work-description {
  padding-left: 20px;
}
.mentor-bio h2 {
  margin-top: 0;
  color: #333;
}

.mentor-timeline {
  margin-top: 1rem;
  color: #888;
}

.mentor-timeline p {
  margin: 5px 0;
}
.short-desc {
  display: flex;
  justify-content: space-around;
}