.app-toolbar {
  display: flex;
  flex-direction: column;
}
.app-container {
  display: flex;
  flex-direction: column;

  min-width: 1048px;
}
.learn-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.app-input {
  display: grid;
  grid-template-columns: 4fr minmax(100px, 150px);
  align-items: center;
}